<section class="py-5">
  <div class="container text-white py-5">
    <div class="section-head text-center py-5">
      <h2 class="text-uppercase">about</h2>
      <div class="decoration w-25 mx-auto my-2">
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="container w-75">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <p class="about-text me-1">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-5">
          <p class="about-text ms-1">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
        </div>
      </div>
    </div>
  </div>
</section>
