<header class="w-100 min-vh-100 text-center py-5">
  <div class="d-flex justify-content-center align-items-center my-5">
    <div class="header-content container py-5">
      <picture class="text-center mt-5">
        <img [src]="imgSrc" class="header-image mt-5" alt="">
      </picture>
      <div class="header-text text-white pt-3 pb-5">
        <h1 class="header-title text-uppercase my-2">start angular</h1>
        <div class="decoration w-25 mx-auto my-2">
          <i class="fa-solid fa-star"></i>
        </div>
        <p class="text-capitalize m-0 py-2">Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</header>
